<body>
    
    <app-header></app-header>
    <div id="content">

        <h1>
            INFORME DIARIO
        </h1>

        <section>

            <div class="square">
                <h2 class="quantity">
                    {{ counterSavingsAccounts }}
                </h2>
                <h2 class="text">
                    CUENTAS AHORRO APERTURADAS
                </h2>
            </div>
            <div class="square">
                <h2 class="quantity">
                    {{ counterDeposits }}
                </h2>
                <h2 class="text">
                    DEPOSITOS REALIZADOS
                </h2>
            </div>
            <div class="square">
                <h2 class="quantity">
                    {{ counterWithdrawals }}
                </h2>
                <h2 class="text">
                    RETIROS REALIZADOS
                </h2>
            </div>

        </section>

    </div>

</body>